:root {
  --color-1: #ffffff;
  --color-2: #e7002a;
  --color-3: #ffbd00;
  --color-4: #0077c7;
  --color-5: #303030;
  --cell-size: 48px;
  --width-cell-border: 1px;
  --width-padding-cell: 2px;
  --color-correct: var(--color-2);
  --color-present: var(--color-3);
  --color-not-in-word: var(--color-4);
  --color-back-grid: var(--color-4);
  --color-back: var(--color-5);
  --color-border: var(--color-1);
  --color-border-grid: var(--color-1);
  --color-police: var(--color-1);
  --color-police-grid: var(--color-1);
  --size-icone: 32px;
}

body {
  font-family: "Roboto Medium", Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 32px;
  background-color: var(--color-back);
  height: 100vh;
  text-align: center;
  color: var(--color-police);
  margin: 0;
  padding: 0;
}