margin-left: auto;
margin-right: auto;
background-color: var(--color-back-grid);
min-height: calc(6 * var(--cell-size) + 12 * var(--width-cell-border));
border-spacing: 0;
background-color: var(--color-back-grid);

td {
    width: calc(var(--cell-size) - 2 * var(--width-padding-cell));
    height: calc(var(--cell-size) - 2 * var(--width-padding-cell));
    text-align: center;
    position: relative;
    padding: var(--width-padding-cell);
    color: var(--color-police-grid);
    border: 1px solid var(--color-border-grid);
    z-index: 0;
}

td.present {
    background-color: var(--color-present);
    border-radius: 50%;
}

td.correct {
    background-color: var(--color-correct);
}

td.not-in-word {
    background-color: var(--color-not-in-word);
}